body{
    background-color: gray;
    width: 100%;
    height: 100%;
}

#header{
    color: orange;
    text-align: center;    
}

#header button{
    background-color: white;
  color: black;
  border: 2px solid orange;
}
#projects{
    width: 30vmax;
    height: 50vmax;
    position: absolute;
    left: 10px;
    border: 3px solid orange;
    padding: 10px;
    background: darkGrey;
}